<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GroceryDude.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0AC079FC1CC7D0E100D6AF73</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0AC07A131CC7D0E200D6AF73</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0AC07A1E1CC7D0E200D6AF73</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
